{% extends 'usuarios/base.html' %} {% block content %}
<form
  action="{% url 'listagem_usuarios' %}"
  method="post"
  class="form-control-sm"
>
  {% csrf_token %}
  <section class="w-screen flex flex-col p-5">
    <h1 class="text-4xl my-10 uppercase font-extrabold w-screen items-center text-center p-5">Cadastro de usuários</h1>
    <div class="join join-vertical md:join-horizontal">
      <input
        type="text"
        name="nome"
        class="input input-bordered join-item form-control-sm"
        placeholder="Nome"
      />
      <input
        type="text"
        name="idade"
        class="input input-bordered join-item form-control-sm"
        placeholder="Idade"
      />
      <button type="submit" class="btn join-item rounded-r-full form-control-sm">
        Enviar
      </button>
    </div>
  </form>
  </section>
{% endblock %}
