{% extends 'usuarios/base.html' %} {% block content %}


<form
action="{% url 'update' usuario.id_usuario %}"
method="post"
class="form-control-sm"
>
{% csrf_token %}
<section class="w-full flex flex-col p-5 items-center flex-auto">
  <h1 class="text-4xl my-10 uppercase font-extrabold w-full items-center text-center p-5">Edição de usuários</h1>
  <div class="flex join join-vertical w-min items-center">
    <input
      type="text"
      name="nome"
      class="input input-bordered input-info join-item form-control-sm"
      placeholder="Nome"
      value="{{usuario.nome}}"
    />
    <input
      type="text"
      name="idade"
      class="input input-bordered input-info join-item form-control-sm"
      placeholder="Idade"
      value="{{usuario.idade}}"
    />
    <button type="submit" class="btn btn-info join-item rounded-r-full form-control-sm w-full">
      Atualizar
    </button>
  </div>
</form>
</section>
{% endblock %}
