{% extends "usuarios/base.html" %} {% block content %}
<div class="container w-full">
  <table class="table table-zebra w-full text-center mt-5">
    <tr class="uppercase">
      <th>id</th>
      <th>nome</th>
      <th>idade</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.id_usuario }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td><a class="btn btn-sm btn-warning" href="{% url 'editar' usuario.id_usuario %}">Edit</a></td>
      <td><a class="btn btn-sm btn-error" href="{% url 'deletar' usuario.id_usuario %}">Del</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
