{% extends "usuarios/base.html" %} {% block content %}
<div class="overflow-x-auto container">
  <table class="table table-zebra">
    <tr class="uppercase">
      <th>id</th>
      <th>nome</th>
      <th>idade</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.id_usuario }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td><a class="btn btn-warning" href="{% url 'editar' usuario.id_usuario %}">Editar</a></td>
      <td><a class="btn btn-error" href="{% url 'deletar' usuario.id_usuario %}">Deletar</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
